<!DOCTYPE html>
<html>
<head>
    <title>Account Creation</title>
</head>
<body>
    <h1>Create an account</h1>

    <!-- Flash Messages Display Area * CHAAAAAT * -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div style="color: red;">
        <!-- Optionally style the message display -->
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <form action="/cAccount" method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username" required><br><br>

        <label for="password">Password</label><br>
        <input type="text" name="password" id="password" required><br><br>

        <input type="submit" value="Submit">
    </form>
    <a href="/" class="button-link">Back to login</a>
</body>
</html>
