<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lokal</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #808080;
            color: #ffffff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <p>A lokal is the kebab place you recommend in your area and enjoy the most.</p>
    {% if lokale == "You haven't picked a Lokal" %}
    <p>{{lokale}}</p>
    <p>You can pick one from the list below:</p>
    <form action="/denLokale" method="POST">

        <input type="hidden" name="type" value="insert" />
        <select name="kebab" id="kebab" size="4">
            {% for kebab in kebabs %}
            <option value="{{kebab[0]}}">{{kebab[1]}}</option>
            {% else %}
            <option>No kebabs available</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="Submit">
    </form><br><br>
    {%else%}
    <h1>{{lokale[0]}}</h1>
    <p>Address: {{lokale[2]}}</p>
    <p>Rating: {{lokale[1]}}</p>
    <p>Menu: {{lokale[3]}}</p><br><br>

    <p>Got a new Lokale? Choose a different one!</p>
    <form action="/denLokale" method="POST">

        <input type="hidden" name="type" value="update" />
        <label for="lang">Kebab place</label><br>
        <select name="kebab" id="kebab" size="4">
            {% for kebab in kebabs %}
            <option value="{{kebab[0]}}">{{kebab[1]}}</option>
            {% else %}
            <option>No kebabs available</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="Submit">
    </form><br><br>
    {%endif%}
    <a href="/" class="button">Back to Homepage</a>
</body>
</html>
